.maps{
    width: 100vw;
    height: 70vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    .maps-k{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
        opacity: 0.6;
    }
    .maps-k:hover{
        opacity: 0.9;
    }
}



.ContactUS{
    width: 100vw;
    height: 50vh;
    background-color: black;
   
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px ;
        .items{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 30px;
            .left
            {
                padding:30px 10px; 
                display: flex;
                flex-direction: column;
                color: white;
                width: 400px;
                height: max-content;
                background-color: rgb(16, 16, 16);
                 h2{
                    width: max-content;
                    font-weight: 600;
                    font-size:40px;
                    font-family: Arial, Helvetica, sans-serif;
                    border-bottom: .3px solid gray;
                    margin-bottom: 40px;
 
                }
                .tit-1{
                    font-size: 18px;
                    // padding-top: 0px;
                    color: rgba(84, 192, 255, 0.685);
                    font-family: Arial, Helvetica, sans-serif;
                }
                .tit-2{
                    color: rgb(254, 254, 254);
                    font-size: 15px;
                    font-weight: 100;
                    padding-bottom: 30px;
                    padding-top: 1px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .item{
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: space-between;
                    padding: 10px;
                    h4:last-child{
                        font-size: 15px;
                        font-weight: 300;
                        color: rgb(255, 255, 255);
                        border-bottom: .3px solid rgba(55, 175, 255, 0.699);
                    }
                    h4:first-child{
                        font-size: 15px;
                        font-weight: 500;
                        // font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
            .right
            {
                width: 400px;
                background-color: rgb(0, 0, 0);
                display: flex;
                flex-direction: column;
                padding:40px 10px; 
                color: white;
                h2{
                    width: max-content;
                    font-weight: 600;
                    font-size:40px;
                    font-family: Arial, Helvetica, sans-serif;
                    border-bottom: .3px solid gray;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    color: white;
                    input,textarea{
                        background-color: transparent;
                        border: none;
                        border-bottom: 0.4px solid rgba(84, 192, 255, 0.486);
                        ;
                        padding:15px  0px;
                        outline: none;
                        color: white;
                        font-size: 18x;
                         
                    }
                    ::placeholder{
                        color: white;
                        font-weight: 300;
                    }
                    textarea{
                        padding-bottom: 50px;
                    }
                    input:last-child{
                       margin-top:20px;
                        width: 100px;
                        background-color: transparent;
                        font-size: 19px;
                        font-weight: 200;
                        border: 1px solid rgba(84, 192, 255, 0.452);
                        border-radius: 10px;
                    }
                }
                .alert-true{
                    padding-top: 5px;
                    color: rgb(9, 249, 9);
                }
            }
        }
    }
}

@media screen and (max-width:650px) {   
    .ContactUS{
        // padding: 30px 0px;
        overflow-x: hidden;
        height: max-content;
        padding-top: 30px;
        background: linear-gradient(black,rgba(15, 15, 15, 0.945));

        .wrapper{
            .items{
                .left{
                    padding: 10px;
                    width: 350px;
                }
                .right{
                    width: 350px;
                    background-color: rgba(0, 0, 0, 0.308);
                }
            }
        }
    }
}