.alert-false
{
  background-color: red;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
}
  .videoHome {
    background: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  // without blur
  .Home {
    width: 100vw;
  height: 100vh;
  display: flex;
    position: relative;
.alert-true
{
  position: fixed;
  top: 100px;
  right: 0;
  background-color: rgba(152, 255, 120, 0.809);
  color: rgba(21, 90, 0, 0.994);
  width: 500px;
  height: 20px;
  display: flex;
  font-size: 19px;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  z-index: 999999;
  .cancel{
    position: absolute;
    top: -8px;
    left: -8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
}
  
  .Right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    position: relative;
    
    .Title {
      display: flex;
      flex-direction: column;
      text-align: center;
      // filter: blur(0.2em);

      h1 {
        color: rgb(254, 254, 254);
        text-shadow: 1px 1px 9px rgba(255, 255, 255, 0.63);
        font-size: 60px;
        font-weight: 400;
      }

      .Buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px 0px;

        .btn-1 {
          padding: 10px 66px;
          margin: 5px;
          background-color: transparent;
          border: 1px solid rgb(249, 249, 249);
          font-size: 20px;
          font-weight: 300;
          color: white;
        }

        .btn-1:hover {
          background-color: rgba(163, 163, 163, 0.668);
        }

        .btn-2 {
          font-size: 20px;
          font-weight: 400;
          padding: 10px 55px;
          margin: 5px;
          background-color: rgb(219, 219, 219);
          border: 1px solid rgb(219, 219, 219);
          color: rgb(0, 0, 0);
          box-shadow: -1px -1px 54px 4px rgba(255, 255, 255, 0.76);
          -webkit-box-shadow: -1px -1px 54px 4px rgba(255, 255, 255, 0.76);
          -moz-box-shadow: -1px -1px 54px 4px rgba(255, 255, 255, 0.76);
        }

        .btn-2:hover {
          background-color: rgba(163, 163, 163, 0.668);
          color: white;
        }
      }
    }

    .Formcontainer {
      position: fixed;
      z-index: 8888;
      padding: 20px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.53);
      -webkit-box-shadow: 2px 0px 15px 6px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 2px 0px 15px 6px rgba(0, 0, 0, 0.53);
      display: flex;
      width: max-content;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
      border-radius: 10px;
      p{
        color: rgb(0, 0, 0);
        font-size: 20px;
        text-decoration:underline;
        font-weight: 400;
      }
      span{
        color: #6658d3;
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .cancel{
        position: absolute;
        right: 5px;
        top: 5px;
        color: #000000;
        cursor: pointer;
        font-size: 25px;
      }
      .top-form {
        img{
          width: 160px;
        }
       }

      form {
        display: flex;
        flex-direction: column;
        color: rgb(0, 0, 0);
        .input {
          display: flex;
          flex-direction: column-reverse;
          position: relative;
          padding-top: 1.5rem;
           & + .input {
            margin-top: 1.5rem;
          }
           .input-label {
            color: #000000;
            position: absolute;
            top: 1.5rem;
            transition: 0.25s ease;
          }
          .input-field {
            border: 0;
            z-index: 1;
            background-color: transparent;
            border-bottom: 2px solid #525252;
            font: inherit;
            font-size: 1.125rem;
            color: rgb(0, 0, 0);
            padding: 0.25rem 0;
            &:focus,
            &:valid {
              outline: 0;
              border-bottom-color: #6658d3;
              & + .input-label {
                color: #6658d3;
                transform: translateY(-1.5rem);
              }
            }

          }
        }
        .action {
          margin-top: 2rem;

          .action-button {
            font: inherit;
            font-size: 1.25rem;
            padding: 1em;
            width: 100%;
            font-weight: 500;
            background-color: #6658d3;
            border-radius: 6px;
            color: #fff;
            border: 0;
            &:focus {
              outline: 0;
            }
          }
        }
 
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .Home{
    .Right{
  .Formcontainer {
    position: fixed;
    z-index: 8888;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 2px 0px 15px 6px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 2px 0px 15px 6px rgba(0, 0, 0, 0.53);
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    p{
      color: rgb(0, 0, 0);
      font-size: 12px;
      text-decoration:underline;
      font-weight: 400;
    }
    span{
      color: #6658d3;
      font-weight: normal;
      font-size: 15px;
      margin-bottom: 20px;
    }
    .cancel{
      position: absolute;
      right: 5px;
      top: 5px;
      color: #000000;
      cursor: pointer;
      font-size: 25px;
    }
    .top-form {
      img{
        width: 160px;
      }
     }

    form {
      display: flex;
      flex-direction: column;
      color: rgb(0, 0, 0);
      .input {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        padding-top: 1.5rem;
         & + .input {
          margin-top: 1.5rem;
        }
         .input-label {
          color: #000000;
          position: absolute;
          top: 1.5rem;
          transition: 0.25s ease;
        }
        .input-field {
          border: 0;
          z-index: 1;
          background-color: transparent;
          border-bottom: 2px solid #525252;
          font: inherit;
          font-size: 1.125rem;
          color: rgb(0, 0, 0);
          padding: 0.25rem 0;
          &:focus,
          &:valid {
            outline: 0;
            border-bottom-color: #6658d3;
            & + .input-label {
              color: #6658d3;
              transform: translateY(-1.5rem);
            }
          }

        }
      }
      .action {
        margin-top: 2rem;

        .action-button {
          font: inherit;
          font-size: 1.25rem;
          padding: 1em;
          width: 100%;
          font-weight: 500;
          background-color: #6658d3;
          border-radius: 6px;
          color: #fff;
          border: 0;
          &:focus {
            outline: 0;
          }
        }
      }
    }
  }
}
  }}

   
