.videoHome {
  background: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

// without blur
.Home {
  width: 100vw;
  height: 100vh;
  display: flex;

  .Right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    position: relative;

    .Title {
      display: flex;
      flex-direction: column;
      text-align: center;
      // filter: blur(0.2em);

      h1 {
        color: rgb(254, 254, 254);
        text-shadow: 1px 1px 9px rgba(255, 255, 255, 0.63);
        font-size: 60px;
        font-weight: 400;
      }

      .Buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px 0px;

        .btn-1 {
          padding: 10px 66px;
          margin: 5px;
          background-color: transparent;
          border: 1px solid rgb(249, 249, 249);
          font-size: 20px;
          font-weight: 300;
          color: white;
        }

        .btn-1:hover {
          background-color: rgba(163, 163, 163, 0.668);
        }

        .btn-2 {
          font-size: 20px;
          font-weight: 400;
          padding: 10px 55px;
          margin: 5px;
          background-color: rgb(219, 219, 219);
          border: 1px solid rgb(219, 219, 219);
          color: rgb(0, 0, 0);
          box-shadow: -1px -1px 54px 4px rgba(255, 255, 255, 0.76);
          -webkit-box-shadow: -1px -1px 54px 4px rgba(255, 255, 255, 0.76);
          -moz-box-shadow: -1px -1px 54px 4px rgba(255, 255, 255, 0.76);
        }

        .btn-2:hover {
          background-color: rgba(163, 163, 163, 0.668);
          color: white;
        }
      }
    }

    .Formcontainer {
      position: absolute;
      padding: 20px;
      background-color: rgb(0, 0, 0);
      box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.53);
      -webkit-box-shadow: 2px 0px 15px 6px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 2px 0px 15px 6px rgba(0, 0, 0, 0.53);
      display: flex;
      width: max-content;
      flex-direction: column;
      justify-content: center;
      color: white;
      .top-form {
        display: none;
      }

      form {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        label {
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          color: rgb(4, 92, 255);
          transform: translateY(2rem);
         }
           input {
          outline: none;
          height: 40px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #eee;
          color: white;
          &:focus , &:valid, label{
          
              
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .Home {
    .Right {
      .Title {
        h1 {
          font-size: 49px;
        }

        .Buttons {
          .btn-1 {
            padding: 10px 56px;
          }

          .btn-2 {
            padding: 10px 45px;
          }
        }
      }
    }
  }
}
