.Navbar-background {
  background: linear-gradient(rgba(0, 0, 0, 0.797), rgba(0, 0, 0, 0.73));
}


.Navbar {
  width: 100%;
  height: 8vh;
  position: fixed;
  height: max-content;
  z-index: 999;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 50px;

    .icon {
      color: rgb(162, 162, 162);
      font-size: 50px;
      cursor: pointer;

    }

    .icon:hover {
       color: rgb(255, 255, 255);
    }
  }

  .Wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 0px;

    // ********************************** right **********************************
    .Right {
      flex: 1;
      display: flex;
      justify-content: start;
      margin-left: 30px;

      .RightLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .Logo {
          width: 90px;
        }
      }
    }

    // ********************************** center **********************************
    .Center {
      flex: 1;
      display: flex;
      justify-content: end;
      margin-right: 40px;

      .Items {
        display: flex;
        align-items: center;

        .Item {
          cursor: pointer;
          color: rgb(255, 255, 255);
          font-size: 18px;
          font-weight: 400;
          margin: 10px;
          list-style: none;
        }
      }
    }

    // ********************************** left **********************************
    .Left {
      flex: 1;
      display: none;
      justify-content: end;
      margin-top: 5px;
      margin-right: 8%;

      .LogoDumbell {
        font-size: 30px;
        color: rgb(44, 163, 224);
        cursor: pointer;
      }

      .LogoCloseMenu {
        font-size: 42px;
        color: rgb(44, 163, 224);
        z-index: 999;
        cursor: pointer;
      }
    }

  }

  // ********************************** Menu items **********************************
  // .MenuItem {
  //   display: none;
  //   // justify-content: center;
  //   // align-items: center;
  //   // width: 100vw;
  //   // height: 100vh;
  //   // background-color: rgb(34, 34, 34);
  //   // overflow-y: hidden;
  //   // position: absolute;
  //   // top: 0;
  //   .Items {
  //     text-align: center;
  //     color: rgb(255, 255, 255);
  //     list-style: none;

  //     .Item {
  //       padding: 26px;
  //       font-size: 40px;
  //       font-weight: 600;
  //       border-bottom: 1px solid rgba(5, 110, 191, 0.187);
  //       cursor: pointer;

  //     }

  //     .Item:hover {
  //       background: linear-gradient(rgba(34, 86, 150, 0.364), rgba(21, 84, 144, 0.104));
  //       border-bottom: 1px solid rgba(5, 110, 191, 0.606);
  //     }
  //   }
  // }
}

@media screen and (max-width:625px) {

  .Navbar {
    // background: linear-gradient(rgba(59, 144, 255, 0.985),rgba(59, 144, 255, 0.103));
    transition: all 1s ease;
    height: 10vh;
    // padding-bottom: 20px;
    // padding-top: 40px;

    .Wrapper {

      // ********************************** right **********************************
      .Right {

        .RightLogo {

          span:first-child {}

          .Logo {}

          span:last-child {}
        }
      }

      // ********************************** center **********************************
      .Center {
        display: none;

        .Items {


          .Item {}
        }
      }

      // ********************************** left **********************************
      .Left {
        display: flex;
      }

    }

    .MenuItem {
      display: flex;
      align-items: center;
      text-align: start;
      width: 100vw;
      height: 100vh;
      background-color: rgb(0, 0, 0);
      position: absolute;
      top: 0;

      .Items {
        text-align: center;
        color: rgb(255, 255, 255);
        list-style: none;
        .Item {
           width: max-content;
          display: flex;
          align-items: center;
           font-size: 40px;
          font-weight: 600;
          margin: 30px;
           cursor: pointer;
         }

        .Item:hover {
           border-bottom: 1px solid rgba(255, 255, 255, 0.606);
        }
      }
    }
  }
}