.next{
    background:linear-gradient(rgb(0, 0, 0),rgba(86, 86, 86, 0.393),rgb(0, 0, 0));
    width: 100vw;
      .Contact{
        height: 30vh;
        color: white;
        display: flex;
        align-items: center;
        h1{
            z-index: 99;
            font-size: 55px;
            font-weight: 500;
            margin-left: 40px;
             cursor: pointer;
         }
        .logo{
            font-size: 30px;
            transform: translateX(-20%);
            animation: logo 2s infinite;
            cursor: pointer;
        }
        @keyframes logo {
            100%{transform: translateX(120%);}
        }
    }
}

@media screen and (max-width:650px) {
    .next{
    background:linear-gradient(rgb(0, 0, 0),rgba(90, 90, 90, 0.896),rgb(0, 0, 0));

           .Contact{
             h1{
                 font-size: 45px;
                font-weight: 400;
              }
             
        }
    }
}



 