.next{
    background-color: rgb(15, 15, 15);

    .Contact{
        width: 100vw;
        height: 30vh;
        color: white;
        display: flex;
        align-items: center;
        h1{
            z-index: 99;
            font-size: 40px;
            font-weight: 500;
            margin-left: 40px;
            background-color: black;
            cursor: pointer;
        }
        .logo{
            font-size: 30px;
            transform: translateX(-80%);
            animation: logo 2s infinite;
            cursor: pointer;
        }
        @keyframes logo {
            100%{transform: translateX(100%);}
        }
    }
}