.next{
    background:linear-gradient(rgb(0, 0, 0),rgba(64, 64, 64, 0.717),rgb(0, 0, 0));
    width: 100vw;
      .Contact{
        height: 30vh;
        color: white;
        display: flex;
        align-items: center;
        h1{
            z-index: 99;
            font-size: 55px;
            font-weight: 500;
            margin-left: 40px;
             cursor: pointer;
         }
        .logo{
            font-size: 30px;
            transform: translateX(-20%);
            animation: logo 2s infinite;
            cursor: pointer;
        }
        @keyframes logo {
            100%{transform: translateX(120%);}
        }
    }
}



 