.coach{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(1, 1, 1);
    height:  max-content;
    .title{
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 100;
        margin: 40px 20px;
        .line {
            width: 80px;
            margin-top: 6px;
            border: 2.5px solid rgb(4, 90, 250);
        }
    }
    .container
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
        margin-bottom: 30px;
        .items{
            display: flex;
             width: 600px;
            height: 260px;
            
            .item{
                 display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                box-shadow: 0px 10px 15px -3px rgba(32, 83, 192, 0.646);
                .left{
                    flex: 1.5;
                    background-color: red;
                    .img{
                        width: 100%;
                        height: 100%; 
                        object-fit: cover;
                    }
                }
                .line1{
                    display: inline-block;
                        background-color: rgb(245, 0, 29);
                    width: 4px;
                    height: 100%;
                 }


                .right {
                    flex: 2;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(71, 71, 71);
                    padding-left: 10px;
                    padding-top: 10px;
                     h2 {
                        font-size: 25px;
                        letter-spacing: 3px;
                        font-weight: 400;
                        margin: 4px 0px;
                        color: rgb(255, 255, 255);

                    }

                    span {
                        color: red;
                        font-size: 11px;
                        font-weight: 200;
                        margin: 3px 0px;
                    }

                    p {
                        width: 300px;
                        color: rgb(141, 141, 141);
                        font-size: 14px;
                        font-weight: 200;
                        margin: 0px 0px 10px 0px;
                        line-height: 23px;
                    }

                    .socialMedia {
                        display: flex;
                          .itemlogo {
                            margin: 0px 5px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            border: 1px solid rgb(255, 255, 255);
                            color: white;
                            font-size: 17px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            transform: scale(1);
                            transition: transform 1s ease;
                        }
                        .itemlogo:hover{
                            box-shadow: 0px 2px 10px -2px rgb(255, 255, 255);
                            transform: scale(2);
                        }
                    }
                }
            }
        }
     }
}

@media screen and (max-width:600px) {
    .coach{
        .container{
            .items{
                 width: 300px;
                 height: max-content;
                 .item{
                    display: flex;
                    flex-direction: column;
                    box-shadow: none;
                     .left{
                        .img{
                            object-position:10% 20%;
                            object-fit: cover;
                        }
                    }
                    .line1{
                        z-index: 999;
                        width: 100%;
                        height: 4px;
                        background-color: rgb(245, 0, 29);
                    }
                }
            }
        }
    }
    
}

