.Article {
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    background-color: black;
    clip-path: polygon(0% 6%, 100% 0%, 100% 100%, 0% 100%);
     .Wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .Left {
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .RightImg {
                width: 400px;
                object-fit: cover;
                animation: img 1s infinite ease-in-out;
            }
            @keyframes img {
                     0% {
                         opacity: 1;
                     }
                
                     20% {
                         opacity: 0.9;
                     }
                
                     40% {
                         opacity: 0.8;
                     }
                     50% {
                        opacity: 0.6;
                    }
                    55% {
                        opacity: 0.7;
                    }
                
                     60% {
                         opacity: 0.8;
                     }
                
                     80% {
                         opacity: 0.9;
                     }
                    100% {
                        opacity: 1;
                    }
                 }
        }

        .Right {
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            .Regulate {
                display: flex;
                flex-direction: column;
                width: 60%;
                color: white;

                .TitleLeft {
                    font-size: 50px;
                    margin-bottom: 60px;
                }

                .ParagLeft {
                    line-height: 21px;
                    color: white;
                    font-weight: 200;
                    white-space: 1px;
                    margin-bottom: 20px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }

                .DomainLeft {
                    padding: 0;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 10px;

                    // background-color: red;
                    h1 {
                        font-size: 94px;
                        padding-right: 4px;
                    }

                    .DomainLeftConcepts {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 26px;

                        span {
                            font-size: 10px;
                            color: gray;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

}


@media screen and (max-width:1290px) {
    .Article
    {   
        clip-path: polygon(0% 2%, 100% 0%, 100% 100%, 0% 100%);
        height: max-content;
        .Wrapper{
            display: flex;
            flex-direction: column;
            
            .Right{
                width: 100%;
                // background-color: cadetblue;
                display: flex;
                justify-content: center;
 
                .Regulate{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;


                    .DomainLeft{
                        display: flex;
                        margin-bottom: 26px;

                        .DomainLeftConcepts{
                            span{
                                
                                animation: move 5s infinite ease;
                            }
                            @keyframes move {
                                from{
                                    transform: rotateY( 0deg);
                                }
                                to{
                                    transform: rotateY(360deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}